* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2b2e2f;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  color: white;
}

.preview {
  margin-bottom: 40px;
  width: 80%;
}

.preview p {
  font-size: 0.9rem;
}

pre {
  background: #262626;
  margin: 5px 0;
  border-radius: 4px;
  padding: 10px;
}

pre code {
  color: #ffffff;
}
